@import "winduum/src/base/index.css";
@import "winduum/src/ui/index.css" layer(components);
@import "winduum/src/components/index.css" layer(components);
@import "winduum/src/utilities/index.css" layer(components);
@import "winduum/src/base/tailwind.css";
/*winduum components*/
@import "winduum/src/ui/btn/index.css" layer(components);
@import "winduum/src/components/card/index.css" layer(components);
@import "winduum/src/components/table/index.css" layer(components);



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #171717;
  background-color: lightgrey;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
}

#app {
  height: 100vh;
}
